body {
    background-color: silver;
}
form {
    width: 400px;
    background-color: skyblue;
    margin: auto;
    opacity: 0.8;
    min-height: 370px;
}
h1 {
    text-align: center;
    font-size: 40px;
    border-bottom: 3px solid black;
}
.caption {
    font-size: 20px;
    margin-left: 10px;
}
.text-window {
    font-size: 15px;
    margin-left: 10px;
}
.choose {
    font-size: 15px;
}
.save-button {
    margin-left: 230px;
    margin-top: 5px;
    height: 40px;
    width: 100px;
}
.save-button:hover {
    background-color: black;
    cursor: pointer;
    transition: 1s;
    color: white;
}
